@charset "utf-8";

.marquee {
  overflow: hidden;

  > img {
    padding-left: 100%;
    animation: marquee 10s infinite linear;

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
