.marquee { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; }

.marquee:hover .marquee__item { -webkit-animation-play-state: paused; animation-play-state: paused; }

.marquee--moveRightToLeft .marquee__item { padding-left: 100%; -webkit-animation: moveRightToLeft 10s infinite linear; animation: moveRightToLeft 10s infinite linear; }

.marquee--moveLeftToRight .marquee__item { padding-right: 100%; margin-left: -210px; -webkit-animation: moveLeftToRight 10s infinite linear; animation: moveLeftToRight 10s infinite linear; }

.marquee--moveTwoRightToLeft .marquee__item { -ms-flex-negative: 0; flex-shrink: 0; width: 100%; -webkit-animation: moveRightToLeft 10s infinite linear; animation: moveRightToLeft 10s infinite linear; }

.marquee--moveTwoLeftToRight { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.marquee--moveTwoLeftToRight .marquee__item { -ms-flex-negative: 0; flex-shrink: 0; width: 100%; -webkit-animation: moveLeftToRight 10s infinite linear; animation: moveLeftToRight 10s infinite linear; }

@-webkit-keyframes moveRightToLeft { 0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }

@keyframes moveRightToLeft { 0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }

@-webkit-keyframes moveLeftToRight { 0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); transform: translateX(100%); } }

@keyframes moveLeftToRight { 0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); transform: translateX(100%); } }
