@charset "utf-8";

.marquee {
  overflow: hidden;

  &--moveRightToLeft {
    > img {
      padding-left: 100%;
      animation: moveRightToLeft 10s infinite linear;
    }
  }

  &--moveLeftToRight {
    > img {
      padding-right: 100%;
      margin-left: -210px;
      animation: moveLeftToRight 10s infinite linear;
    }
  }

  &--moveTwoRightToLeft {
    display: flex;

    .marquee__item {
      flex-shrink: 0;
      width: 100%;
      animation: moveRightToLeft 10s infinite linear;
    }
  }

  &--moveTwoLeftToRight {
    display: flex;
    flex-direction: row-reverse;

    .marquee__item {
      flex-shrink: 0;
      width: 100%;
      animation: moveLeftToRight 10s infinite linear;
    }
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
